/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../assets/fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../assets/fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../assets/fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
  }
:root {
    --background-color1: #EDF2EC;
    --background-color2: #FFFFFF;
    --green: #499A18;
    --orange: #E06733;
    --black: #000000;
    --white: #FFFFFF;
    --text-color: #636060;
    --service-item-border: #E3E1D5;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
/*html {
    box-sizing: border-box;
}

*, *::before, *::after {
     box-sizing: inherit;
} */ 
.img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1222px;
    margin: 0 auto;
    /* padding: 0 9px; */
}

/* header styles start */

.header {
    background-color: var(--background-color1);
    width: 100%;
    padding: 42px 0;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*.header__logo {
    padding-left: 111px;
}*/
.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 46px;
    padding: 0;
    margin: 0;
}
.header__list a:hover,
.header__list a:focus,
.header__list a:active {
    color: var(--orange);
}
/* .header__item {
    margin-right: 46px;
} */
/*у последнего элемента списка нет отступа справа*/
.header__item:last-child {
    margin-right: 0;
}
.header__link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
    /*color: #E06733;*/
}
.default {
    color: var(--orange);
}
.default:hover {
    opacity: .70
}
.header__logo-link {
    line-height: 21px;
    text-decoration: none;
    color: #000000;
}
.header__logo a:hover,
.header__logo a:focus,
.header__logo a:active {
    color: var(--orange);
}
.header__logo-picture {
    width: 20px;
    height: 20px;
    margin-right: 1.05px;
}

/* header styles end */

/* welcome styles start */
/* .welcome__wrapper {
    max-width: 1222px;
    margin: 0 auto;
} */
.welcome {
    /*height: 100vh;*/
    background-color: var(--background-color1);
    padding: 62px 0;
    width: 100%;
}
.welcome__wrap {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
}
.leafs-pic { 
    width: 448px;
    height: 407px;
    margin-right: 224px;
}

.welcome__text {
    max-width: 549px;
    padding-top: 36px;
}
.welcome__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin: 0;
    padding: 0;
    margin-bottom: 42px;
}
.welcome__title-selection {
    color: var(--green);
}
.welcome__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 48px;
}
.welcome__section-more {
    padding: 14px 27px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    min-width: 158px;
     /* line-height: 20px; */
    background-color: var(--background-color1);
    color: var(--black);
    border: 2px solid var(--orange); 
    border-radius: 10px;
}
.welcome__section-more:hover,
.welcome__section-more:focus,
.welcome__section-more:active {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: 1s;
}
/* welcome styles end */

/* about styles start */
.about {
    background-color: var(--background-color2);
    width: 100%;
    padding: 93px 0;
}
.about__wrap {
    display: flex;
    flex-wrap: nowrap; 
    /* align-items: center; */
    justify-content: space-between;
    row-gap: 153px;
}
.about__text {
    /* width: 50%; */
    max-width: 605px;
    margin-right: 153px;
}
.about__title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    max-width: 463px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    padding-top: 68px;
}
.about__title-selection {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--orange);
}
.about__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 61px;
}
.houseplant-pic {
    max-width: 464px;
}
/* about styles end */

/* service styles start */
.service {
    background-color: var(--background-color1);
    width: 100%;
    padding: 40px 0 121px 0;
}
.service__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 142px;
    /* padding-top: 40px; */
    margin-right: 215px;
    /* max-width: 1007px; */
    margin-bottom: 90px;
}
.service__title {
    margin: 0;
    padding: 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    max-width: 306px;
    height: 94px;
    color: var(--green);
    
}
.service__btn-group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 29px;
    padding-bottom: 13px; /*15px */
}
.service__button {
    padding: 12px 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    min-width: 161px;
    background-color: var(--background-color1);
    color: var(--orange);
    border: 1px solid var(--orange); 
    border-radius: 5px;
    margin-right: 38px;
}
.service__button:hover,
.service__button:focus,
.service__button:active {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: 1s;
}
.service__button:last-child {
    margin-right: 0;
}
.service__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    row-gap: 55px;
    column-gap: 116px;
    /* padding-left: 9px; */
    /* padding-bottom: 121px; */
}
.service__item {
    padding: 0;
    margin: 0;    
    min-height: 100;
    /* margin-right: 113px; */
}
.service__item:last-child {
    margin-right: 0;
}
.service__item-pic {
   padding: 0;
   margin: 0;
}
.service_item-thumb {
    display: block;
    margin: 0;
    padding: 0;
}
.service__item-text {
    margin: 0;
    padding: 0;
    outline: 1px solid #E3E1D5;
    /* outline-offset: 1px; */
    border-radius: 0px 0px 20px 20px;
    /* margin-top: -2px; */
    /* margin-left: 1px;
    margin-right: 1px; */
}
.service__item-header {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--orange);
    /* padding: 10px 0; */
    /* text-align: center; */
    margin-bottom: 10px;
}
.garden {
    padding: 10px 105px 0 105px;
}
.planting {
    padding: 10px 120px 0 120px;
}
.lawn {
    padding: 10px 113px 0 113px;
}
.service__item-desc {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    /* text-align: center; */
    padding: 0 32px 36px 31px;
}

/* service styles end */

/* prices styles start */
.prices {
    background-color: var(--background-color2);
    width: 100%;
    padding: 40px 0 115px 0;
}
.prices__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 438px;
    background: url(../assets/img/leafs-prices.png) calc(100% + 10px) /*right*/ bottom no-repeat;
}
.prices__header {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--black);
    padding-right: 197px;
    margin-bottom: 60px;
}
.prices__level {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
.prices__items {
    padding: 34px 41px;
}
.price__item {
    display: flex;
    justify-content: flex-end;
    /* padding: .5em; */
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}
/* .price__item > select {
    flex: 1;
} */
.price__item:last-child {
    margin-bottom: 0;
}
.price-select/*:nth-child(1) option*/ {
    flex: 1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 20px; */
    background: var(--background-color1);
    border-radius: 20px;
    border: none;
    /* max-width: 250px; */
    padding: 16px 110px 16px 40px;
}
.prices__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: var(--black);
    margin: 0;
    padding: 0;
    max-width: 452px;
    margin-bottom: 38px;
}
.selection {
    color: var(--green);
}
.prices__button {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 26px; */
    /* min-width: 161px; */
    float: right;
    background-color: var(--background-color2);
    color: var(--orange);
    border: 1px solid var(--orange); 
    border-radius: 5px;
    padding: 12px 33.96px 12px 30.04px;
    margin-bottom: 39px;
}
.prices__button:hover,
.prices__button:focus,
.prices__button:active {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
    transition: 1s;
}
/* prices styles end */

/* contacts styles start */
.contacts {
    background-color: var(--background-color1);
    /* background: url(contact_woman.png); */
}
.contacts__wrap {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
/* .contacts__text {
    margin-right: 37px;
} */
.contacts__header {
    margin: 0;
    padding: 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    padding-top: 60px;
    margin-right: 64px;
}
.contacts-pic {
    padding-top: 53px;
    padding-bottom: 0.01px;
    margin-right: 113px;
}
.city-dropdown {
    padding-top: 148px;
    /* display: flex;
    justify-content: flex-end; */
    /* max-width: 450px; */
}
/* .city-item {
    display: flex;
    justify-content: flex-end;
} */
.city-select {
    /* flex: 1; */
    max-width: 450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    /* line-height: 40px; */
    padding: 5px 226px 5px 20px;
    color: #717171;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    border: none;
}
/* contacts styles end */

/* footer styles start */
.footer {
    background-color: var(--background-color2);
    padding: 40px 0;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 324px;
}
.footer__data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    /* margin-right: 324px; */
}
.footer__data a:hover,
.footer__data a:focus,
.footer__data a:active {
    color: var(--orange);
}
.footer__wrapper a:hover,
.footer__wrapper a:focus,
.footer__wrapper a:active {
    color: var(--orange);
}
/* .footer__item:last-child {
    margin-right: 0;
} */
.footer__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    color: var(--black);
    padding: 0;
    margin: 0;
}
.github-link {
    margin-right: 13px;
}
.social-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}
.social-list-item {
    margin-right: 20px;
}
/*у последнего элемента списка нет отступа справа*/
.social-list-item:last-child {
    margin-right: 0;
}
.social-list-link {
    text-decoration: none;
}
.social-list-link:hover,
.social-list-link:active,
.social-list-link:focus {
    opacity: .70;
   
}
/* footer styles end */